<app-page-container [navTemplate]="nav" [contentTemplate]="content">
</app-page-container>

<ng-template #nav>
  <app-top-nav>
    <button
      [appButton]="'ghost'"
      class="btn-icon"
      (click)="back()"
      [style.transform]="'rotate(180deg)'"
    >
      <fa-icon [icon]="faArrowRightFromBracket" size="xl"></fa-icon>
    </button>
    <div class="gap"></div>
  </app-top-nav>
</ng-template>

<ng-template #content>
  <div
    class="container"
    *ngIf="recordsInfo$ | async as recordsInfo; else spinner"
  >
    <app-user-record [userRecord]="recordsInfo.userRecord"></app-user-record>
    <app-record-board [recordsInfo]="recordsInfo"></app-record-board>
  </div>
</ng-template>

<ng-template #spinner>
  <app-page-spinner></app-page-spinner>
</ng-template>
