//
//$dark-grey-1: #787878;
//$dark-grey-2: #707070;
//$dark-grey-3: #686868;
//$dark-grey-4: #606060;
//$dark-grey-5: #585858;
//$dark-grey-6: #505050;
//$dark-grey-7: #484848;
//$dark-grey-8: #404040;
//$dark-grey-9: #383838;
//$dark-grey-10: #303030;
//$dark-grey-11: #282828;
//$dark-grey-12: #202020;
//$dark-grey-13: #181818;
//$dark-grey-14: #101010;
//$dark-grey-15: #080808;
//
//$grey-1: #F8F8F8;
//$grey-2: #F0F0F0;
//$grey-3: #E8E8E8;
//$grey-4: #E0E0E0;
//$grey-5: #D8D8D8;
//$grey-6: #D0D0D0;
//$grey-7: #C8C8C8;
//$grey-8: #C0C0C0;
//$grey-9: #B8B8B8;
//$grey-10: #B0B0B0;
//$grey-11: #A8A8A8;
//$grey-12: #A0A0A0;
//$grey-13: #989898;
//$grey-14: #909090;
//$grey-15: #888888;

:root {
  --theme-1-color-0: #f7faff;
  --theme-1-color-1: #edf4fd;
  --theme-1-color-2: #dbeafb;
  --theme-1-color-3: #c9dff8;
  --theme-1-color-4: #b6d4f6;
  --theme-1-color-5: #a4c9f4;
  --theme-1-color-6: #92bff2;
  --theme-1-color-7: #80b4ef;
  --theme-1-color-8: #6ea9ed;
  --theme-1-color-9: #5c9eeb;
  --theme-1-color-10: #4994e9;
  --theme-1-color-11: #3789e6;
  --theme-1-color-12: #257ee4;
  --theme-1-color-13: #1b74da;
  --theme-1-color-14: #196ac8;
  --theme-1-color-15: #1661b6;
  --theme-1-color-16: #13529b;
  --theme-1-color-17: #114889;
  --theme-1-color-18: #104179;
  --theme-1-color-19: #0d3a6d;
  --theme-1-color-20: #0b305b;
  --theme-1-color-21: #092749;
  --theme-1-color-22: #071d36;
  --theme-1-color-23: #041324;
  --theme-1-color-24: #020a12;

  --theme-2-color-0: #fff8f9;
  --theme-2-color-1: #fceef0;
  --theme-2-color-2: #f8dde2;
  --theme-2-color-3: #f5ccd3;
  --theme-2-color-4: #f1bbc4;
  --theme-2-color-5: #eeaab6;
  --theme-2-color-6: #ea99a7;
  --theme-2-color-7: #e78898;
  --theme-2-color-8: #e37889;
  --theme-2-color-9: #e0677b;
  --theme-2-color-10: #dc566c;
  --theme-2-color-11: #d9455d;
  --theme-2-color-12: #d5344f;
  --theme-2-color-13: #cb2a45;
  --theme-2-color-14: #ba263f;
  --theme-2-color-15: #a92339;
  --theme-2-color-16: #981f33;
  --theme-2-color-17: #871c2e;
  --theme-2-color-18: #771828;
  --theme-2-color-19: #661522;
  --theme-2-color-20: #55111d;
  --theme-2-color-21: #440e17;
  --theme-2-color-22: #330a11;
  --theme-2-color-23: #22070b;
  --theme-2-color-24: #110306;

  --theme-3-color-0: #f5fffc;
  --theme-3-color-1: #deffef;
  --theme-3-color-2: #cdf7e1;
  --theme-3-color-3: #b7e9cf;
  --theme-3-color-4: #a5e1c2;
  --theme-3-color-5: #99dbba;
  --theme-3-color-6: #8ed7b2;
  --theme-3-color-7: #86d2ab;
  --theme-3-color-8: #7ccba2;
  --theme-3-color-9: #70c499;
  --theme-3-color-10: #5fbe8e;
  --theme-3-color-11: #51b281;
  --theme-3-color-12: #46a776;
  --theme-3-color-13: #3a9969;
  --theme-3-color-14: #36895f;
  --theme-3-color-15: #047752;
  --theme-3-color-16: #036345;
  --theme-3-color-17: #024a33;
  --theme-3-color-18: #023b29;
  --theme-3-color-19: #023021;
  --theme-3-color-20: #04281c;
  --theme-3-color-21: #032319;
  --theme-3-color-22: #031d14;
  --theme-3-color-23: #01140e;
  --theme-3-color-24: #010d09;

  --theme-4-color-0: #fff9fd;
  --theme-4-color-1: #fceef8;
  --theme-4-color-2: #f9ddf0;
  --theme-4-color-3: #f6cbe9;
  --theme-4-color-4: #f2bae1;
  --theme-4-color-5: #efa9da;
  --theme-4-color-6: #ec98d3;
  --theme-4-color-7: #e986cb;
  --theme-4-color-8: #e675c4;
  --theme-4-color-9: #e364bd;
  --theme-4-color-10: #df53b5;
  --theme-4-color-11: #dc41ae;
  --theme-4-color-12: #d930a6;
  --theme-4-color-13: #cf269c;
  --theme-4-color-14: #be238f;
  --theme-4-color-15: #ac2082;
  --theme-4-color-16: #9b1c75;
  --theme-4-color-17: #841863;
  --theme-4-color-18: #79165b;
  --theme-4-color-19: #67134e;
  --theme-4-color-20: #561041;
  --theme-4-color-21: #450d34;
  --theme-4-color-22: #340927;
  --theme-4-color-23: #22061a;
  --theme-4-color-24: #11030d;

  --theme-5-color-0: #fffbfa;
  --theme-5-color-1: #fdf1ed;
  --theme-5-color-2: #fae3db;
  --theme-5-color-3: #f8d5c9;
  --theme-5-color-4: #f6c6b7;
  --theme-5-color-5: #f3b8a5;
  --theme-5-color-6: #f1aa93;
  --theme-5-color-7: #ef9c81;
  --theme-5-color-8: #ec8e6f;
  --theme-5-color-9: #ea805d;
  --theme-5-color-10: #e8724a;
  --theme-5-color-11: #e56438;
  --theme-5-color-12: #e35526;
  --theme-5-color-13: #d94b1c;
  --theme-5-color-14: #c7451a;
  --theme-5-color-15: #b53f17;
  --theme-5-color-16: #a23916;
  --theme-5-color-17: #903213;
  --theme-5-color-18: #7e2c10;
  --theme-5-color-19: #6c260e;
  --theme-5-color-20: #5a1f0c;
  --theme-5-color-21: #481909;
  --theme-5-color-22: #361307;
  --theme-5-color-23: #240d05;
  --theme-5-color-24: #120602;

  --theme-accent-color-1: #c56dc5;
  --theme-accent-color-2: #b950b9;
  --theme-accent-color-3: #a040a0;

  body,
  body[theme="theme-1"],
  .body[theme="theme-1"] {
    --theme-color-0: var(--theme-1-color-0);
    --theme-color-1: var(--theme-1-color-1);
    --theme-color-2: var(--theme-1-color-2);
    --theme-color-3: var(--theme-1-color-3);
    --theme-color-4: var(--theme-1-color-4);
    --theme-color-5: var(--theme-1-color-5);
    --theme-color-6: var(--theme-1-color-6);
    --theme-color-7: var(--theme-1-color-7);
    --theme-color-8: var(--theme-1-color-8);
    --theme-color-9: var(--theme-1-color-9);
    --theme-color-10: var(--theme-1-color-10);
    --theme-color-11: var(--theme-1-color-11);
    --theme-color-12: var(--theme-1-color-12);
    --theme-color-13: var(--theme-1-color-13);
    --theme-color-14: var(--theme-1-color-14);
    --theme-color-15: var(--theme-1-color-15);
    --theme-color-16: var(--theme-1-color-16);
    --theme-color-17: var(--theme-1-color-17);
    --theme-color-18: var(--theme-1-color-18);
    --theme-color-19: var(--theme-1-color-19);
    --theme-color-20: var(--theme-1-color-20);
    --theme-color-21: var(--theme-1-color-21);
    --theme-color-22: var(--theme-1-color-22);
    --theme-color-23: var(--theme-1-color-23);
    --theme-color-24: var(--theme-1-color-24);
  }

  body[theme="theme-2"],
  .body[theme="theme-2"] {
    --theme-color-0: var(--theme-2-color-0);
    --theme-color-1: var(--theme-2-color-1);
    --theme-color-2: var(--theme-2-color-2);
    --theme-color-3: var(--theme-2-color-3);
    --theme-color-4: var(--theme-2-color-4);
    --theme-color-5: var(--theme-2-color-5);
    --theme-color-6: var(--theme-2-color-6);
    --theme-color-7: var(--theme-2-color-7);
    --theme-color-8: var(--theme-2-color-8);
    --theme-color-9: var(--theme-2-color-9);
    --theme-color-10: var(--theme-2-color-10);
    --theme-color-11: var(--theme-2-color-11);
    --theme-color-12: var(--theme-2-color-12);
    --theme-color-13: var(--theme-2-color-13);
    --theme-color-14: var(--theme-2-color-14);
    --theme-color-15: var(--theme-2-color-15);
    --theme-color-16: var(--theme-2-color-16);
    --theme-color-17: var(--theme-2-color-17);
    --theme-color-18: var(--theme-2-color-18);
    --theme-color-19: var(--theme-2-color-19);
    --theme-color-20: var(--theme-2-color-20);
    --theme-color-21: var(--theme-2-color-21);
    --theme-color-22: var(--theme-2-color-22);
    --theme-color-23: var(--theme-2-color-23);
    --theme-color-24: var(--theme-2-color-24);
  }

  body[theme="theme-3"],
  .body[theme="theme-3"] {
    --theme-color-0: var(--theme-3-color-0);
    --theme-color-1: var(--theme-3-color-1);
    --theme-color-2: var(--theme-3-color-2);
    --theme-color-3: var(--theme-3-color-3);
    --theme-color-4: var(--theme-3-color-4);
    --theme-color-5: var(--theme-3-color-5);
    --theme-color-6: var(--theme-3-color-6);
    --theme-color-7: var(--theme-3-color-7);
    --theme-color-8: var(--theme-3-color-8);
    --theme-color-9: var(--theme-3-color-9);
    --theme-color-10: var(--theme-3-color-10);
    --theme-color-11: var(--theme-3-color-11);
    --theme-color-12: var(--theme-3-color-12);
    --theme-color-13: var(--theme-3-color-13);
    --theme-color-14: var(--theme-3-color-14);
    --theme-color-15: var(--theme-3-color-15);
    --theme-color-16: var(--theme-3-color-16);
    --theme-color-17: var(--theme-3-color-17);
    --theme-color-18: var(--theme-3-color-18);
    --theme-color-19: var(--theme-3-color-19);
    --theme-color-20: var(--theme-3-color-20);
    --theme-color-21: var(--theme-3-color-21);
    --theme-color-22: var(--theme-3-color-22);
    --theme-color-23: var(--theme-3-color-23);
    --theme-color-24: var(--theme-3-color-24);
  }

  body[theme="theme-4"],
  .body[theme="theme-4"] {
    --theme-color-0: var(--theme-4-color-0);
    --theme-color-1: var(--theme-4-color-1);
    --theme-color-2: var(--theme-4-color-2);
    --theme-color-3: var(--theme-4-color-3);
    --theme-color-4: var(--theme-4-color-4);
    --theme-color-5: var(--theme-4-color-5);
    --theme-color-6: var(--theme-4-color-6);
    --theme-color-7: var(--theme-4-color-7);
    --theme-color-8: var(--theme-4-color-8);
    --theme-color-9: var(--theme-4-color-9);
    --theme-color-10: var(--theme-4-color-10);
    --theme-color-11: var(--theme-4-color-11);
    --theme-color-12: var(--theme-4-color-12);
    --theme-color-13: var(--theme-4-color-13);
    --theme-color-14: var(--theme-4-color-14);
    --theme-color-15: var(--theme-4-color-15);
    --theme-color-16: var(--theme-4-color-16);
    --theme-color-17: var(--theme-4-color-17);
    --theme-color-18: var(--theme-4-color-18);
    --theme-color-19: var(--theme-4-color-19);
    --theme-color-20: var(--theme-4-color-20);
    --theme-color-21: var(--theme-4-color-21);
    --theme-color-22: var(--theme-4-color-22);
    --theme-color-23: var(--theme-4-color-23);
    --theme-color-24: var(--theme-4-color-24);
  }

  body[theme="theme-5"],
  .body[theme="theme-5"] {
    --theme-color-0: var(--theme-5-color-0);
    --theme-color-1: var(--theme-5-color-1);
    --theme-color-2: var(--theme-5-color-2);
    --theme-color-3: var(--theme-5-color-3);
    --theme-color-4: var(--theme-5-color-4);
    --theme-color-5: var(--theme-5-color-5);
    --theme-color-6: var(--theme-5-color-6);
    --theme-color-7: var(--theme-5-color-7);
    --theme-color-8: var(--theme-5-color-8);
    --theme-color-9: var(--theme-5-color-9);
    --theme-color-10: var(--theme-5-color-10);
    --theme-color-11: var(--theme-5-color-11);
    --theme-color-12: var(--theme-5-color-12);
    --theme-color-13: var(--theme-5-color-13);
    --theme-color-14: var(--theme-5-color-14);
    --theme-color-15: var(--theme-5-color-15);
    --theme-color-16: var(--theme-5-color-16);
    --theme-color-17: var(--theme-5-color-17);
    --theme-color-18: var(--theme-5-color-18);
    --theme-color-19: var(--theme-5-color-19);
    --theme-color-20: var(--theme-5-color-20);
    --theme-color-21: var(--theme-5-color-21);
    --theme-color-22: var(--theme-5-color-22);
    --theme-color-23: var(--theme-5-color-23);
    --theme-color-24: var(--theme-5-color-24);
  }
}
