.host-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;

  .top-container {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .word-text {
      position: relative;
      margin-bottom: 8px;
      display: inline-block;
      background-color: var(--body-backgroung-color);
      text-align: center;
      padding: 0 12px;
    }
  }

  .bottom-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .translation {
      text-align: center;

      h4 {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: white;
        padding: 0 12px;
      }
    }

    app-show-answer-animation {
      width: 100%;
      flex-grow: 1;
    }
  }
}
