<div class="color-container" [style.background-color]="'var(--aaa)'"></div>
<div class="color-container" [style.background-color]="'var(--backgroung-secondary-color)'"></div>
<div class="color-container" [style.background-color]="'var(--backgroung-teriary-color)'"></div>
<div class="color-container" [style.background-color]="'var(--bg-basic-color)'"></div>
<div class="color-container" [style.background-color]="'var(--bg-basic-color-2)'"></div>
<div class="color-container" [style.background-color]="'var(--bg-basic-color-3)'"></div>
<div class="color-container" [style.background-color]="'var(--bg-basic-color-4)'"></div>