<div class="color-container" [style.background-color]="'var(--basic-background-transparent-1)'"></div>
<div class="color-container" [style.background-color]="'var(--basic-background-solid-1)'"></div>
<div class="color-container" [style.background-color]="'var(--basic-background-solid-2)'"></div>

<div class="color-container" [style.background-color]="'var(--theme-background-solid-1)'"></div>
<div class="color-container" [style.background-color]="'var(--theme-background-solid-2)'"></div>
<div class="color-container" [style.background-color]="'var(--theme-background-solid-3)'"></div>
<div class="color-container" [style.background-color]="'var(--theme-background-solid-4)'"></div>
