<app-category-menu [category]="category"> </app-category-menu>

<app-category-miniatures></app-category-miniatures>

<app-record-item [record]="{ name: 'Ashley', points: 224433 }" [index]="1"></app-record-item>
<app-record-item [record]="{ name: 'Bryan', points: 339988 }" [index]="2" [isActive]="true"></app-record-item>

<div class="buttons" [style.margin]="'10px'" [style.width]="'200px'">
  <button [appButton]="'primary'">test button</button>

  <button [appButton]="'secondary'">test button</button>

  <button [appButton]="'ghost'">test button</button>

  <h1 [style.display]="'inline-block'">
    a<app-gender-dot [style.position]="'relative'" [word]="{ plG: 'M' }"></app-gender-dot>
  </h1>
  <h1 [style.display]="'inline-block'">
    a<app-gender-dot [style.position]="'relative'" [word]="{ plG: 'F' }"></app-gender-dot>
  </h1>
  <h1 [style.display]="'inline-block'">
    a<app-gender-dot [style.position]="'relative'" [word]="{ plG: 'N' }"></app-gender-dot>
  </h1>

  <br />
  <app-show-answer-animation [showAnswer]="true" [answerCorrect]="true"></app-show-answer-animation>
</div>
