<button
  *ngIf="variant.enabled"
  class="variant-button"
  (click)="navigateToChallenge(variant.variant_id)"
  [style.background-color]="color$ | async"
  [class.with-result]="variant.result"
>
  <app-shine-animation *ngIf="variant.enabled"></app-shine-animation>

  <span *ngIf="variant.result || variant.enabled">
    {{ displayedResult }}
  </span>
</button>

<div class="variant-back-side">
  <span [class.delta-100]="resultDelta === 100">
    {{ resultDelta }} <fa-icon [icon]="faGem" size="1x"></fa-icon>
  </span>
</div>

<div class="disabled-background" *ngIf="!variant.enabled || displayedResult === 0 && variant.result === 0">
  <span *ngIf="displayedResult">{{ displayedResult }}</span>
  <fa-icon [class.smaller-lock]="displayedResult"
           [icon]="faLock" size="2x"></fa-icon>
</div>
