<button
  *ngIf="variant.enabled"
  class="variant-button"
  (click)="navigateToChallenge(variant.variant_id)"
  [style.background-color]="color$ | async"
  [class.with-result]="variant.result"
>
  <app-shine-animation *ngIf="variant.enabled"></app-shine-animation>

  <span *ngIf="variant.result || variant.enabled">
    {{ displayedResult$ | async }}
  </span>
</button>

<div class="variant-back-side">
  <span>{{ resultDelta }} <fa-icon [icon]="faGem" size="1x"></fa-icon></span>
</div>

<div class="disabled-background">
  <span *ngIf="variant.result">
    {{ displayedResult$ | async }}
  </span>
  <fa-icon *ngIf="!variant.enabled" [icon]="faLock" size="2x"></fa-icon>
</div>
