:host {
  display: block;

  button {
    all: unset;
    display: block;
    border-radius: 50%;
    border: 3px solid black;

    height: calc(100% - 16px);
    width: calc(100% - 16px);
    margin: 5px;

    @media(min-width: 500px) {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      margin: 10px;
    }

    vertical-align: middle;

    span {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 2rem;
    }
  }

  button:not([disabled]) {
    cursor: pointer;
  }

  button[disabled] {
    border-color: #f1f1f1;
  }
}

