:host {
  display: block;

  button {
    all: unset;
    border-radius: 50%;

    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;

    @media(min-width: 500px) {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      margin: 10px;
    }

    vertical-align: middle;

    span {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 2rem;
      opacity: 0.4;
    }
  }

  button:not([disabled]) {
    cursor: pointer;
  }

  button[disabled] {
  }
}

