<div class="top-container">
  <h1 class="word-text" (click)="speak()">
    <span> {{ word.nounPL }} </span>
    <app-gender-dot [word]="word"></app-gender-dot>
  </h1>
</div>

<div class="bottom-container" [class.with-word-alt]="word.alt">
  <app-word-alt [word]="word"></app-word-alt>

  <div class="translation">
    <h4 *ngIf="(showAnswer && !lastAnswerCorrect) || showHistory">
      <span>{{ word.nounDE }}</span>
    </h4>
  </div>

  <app-show-answer-animation
    [showAnswer]="showAnswer"
    [answerCorrect]="lastAnswerCorrect"
    [showHistory]="showHistory"
  ></app-show-answer-animation>
</div>

