<ng-container *ngIf="word">
  <div class="current-word-container">

    <div class="word-div">
      <h1 class="word-text" (click)="speak(word.nounPL)">
        {{word.nounPL}}
      </h1>

      <app-gender-dot [word]="word"></app-gender-dot>
    </div>

    <div class="word-alt" (click)="speak(word.alt)">
      <span *ngIf="word.alt" [class.plural]="word._isPlural">{{word.alt}}</span>
    </div>

    <div class="answer" [class.show]="showAnswer">
      <h3 class="answer-text" *ngIf="!lastAnswerCorrect">{{word.nounDE}}</h3>
      <div class="answer-icon" *ngIf="lastAnswerCorrect">
        <fa-icon [size]="'5x'" class="success-icon" [icon]="faCheck"></fa-icon>
      </div>
    </div>

  </div>
</ng-container>
