<app-challenge-section-top
    [topContent]="topContent"
    [bottomContent]="bottomContent"
    [showAnswer]="showAnswer"
    [lastAnswerCorrect]="lastAnswerCorrect"
    [showHistory]="showHistory"
></app-challenge-section-top>


<ng-template #topContent>
  <h1 class="word-text" (click)="speak()">
    <span class="first last">
      {{ word.nounPL }}
    </span>
    <app-gender-dot [word]="word"></app-gender-dot>
  </h1>
</ng-template>


<ng-template #bottomContent>
  <app-word-alt [word]="word"></app-word-alt>

  <div class="translation">
    <h4 *ngIf="(showAnswer && !lastAnswerCorrect) || showHistory">
      <span>{{ word.nounDE }}</span>
    </h4>
  </div>
</ng-template>

