<div class="views">
  <div class="app-container" [style.width]="'480px'">
    <app-styleguide-section></app-styleguide-section>
  </div>

  <div class="app-container picture-background" [style.width]="'480px'">
    <app-styleguide-section></app-styleguide-section>
  </div>

  <div class="app-container night-mode" [style.width]="'480px'">
    <app-styleguide-section></app-styleguide-section>
  </div>

  <div class="app-container night-mode picture-background" [style.width]="'480px'">
    <app-styleguide-section></app-styleguide-section>
  </div>
</div>
