<app-two-split-page
  [upper]="upper"
  [lower]="lower"
  [isLoading]="isLoading"
></app-two-split-page>

<ng-template #upper>
  <div class="form" [formGroup]="form">
    <p class="input-label" [ngClass]="{ focus: focusName }">
      {{ "auth.userName" | translate }}
    </p>
    <input
      formControlName="name"
      (focusin)="focusName = true"
      (focusout)="focusName = false"
      (keyup.enter)="password.focus()"
    />

    <p class="input-label" [ngClass]="{ focus: focusPassword }">
      {{ "auth.password" | translate }}
    </p>
    <input
      #password
      formControlName="password"
      (focusin)="focusPassword = true"
      (focusout)="focusPassword = false"
    />

    <button [appButton]="'primary'" (click)="logIn()" [disabled]="!form.valid">
      {{ "auth.login" | translate }}
    </button>
  </div>

  <div class="form-alternative">
    <button [appButton]="'ghost'" (click)="redirectToRegistration()">
      {{ "auth.createNewUser" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #lower>
  <fa-icon [icon]="faSnowman" size="10x"></fa-icon>
</ng-template>
