:host {
  display: flex;
  height: 60px;
  position: relative;
  flex-shrink: 0;

  .container-a {
    background-color: var(--aaa);
    flex-grow: 1;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .container-b {
    margin: 0 10px;
    padding-top: 10px;
    overflow: scroll;
    height: 100%;
  }

  .container-c {
    display: flex;
  }

  button {
    flex-basis: 50px;
    min-width: 50px;
    background-color: var(--body-backgroung-color);
    color: var(--font-secondary-color);
    margin: 4px 6px;
    padding: 5px;
    height: 32px;
    border-radius: var(--border-radius-3);
    border: var(--border-width-secondary) solid var(--font-secondary-color);
  }
}
