:host {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  height: 76px;
  position: relative;
  flex-shrink: 0;

  .container-a {
    background-color: var(--backgroung-secondary-color);
    flex-grow: 1;
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 10px;
  }

  .container-b {
    margin: 10px 10px 0 10px;
    overflow: scroll;
    height: calc(100% - 6px);
  }

  .container-c {
    display: flex;
  }

  button {
    flex-basis: 50px;
    min-width: 36px;
    background-color: var(--body-backgroung-color);
    color: var(--font-secondary-color);
    margin: 5px;
    padding: 5px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid var(--font-basic-color);
  }
}
