:host {
  margin: 10px;
  padding: 5px;
  display: grid;
  background-color: var(--backgroung-secondary-color);
  border-radius: 10px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

 .button-container {
   display: flex;
   align-items: flex-end;
 }
  button {
    background-color: var(--body-backgroung-color);
    color: var(--font-secondary-color);
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid var(--font-basic-color);
  }
}