<ng-container *ngIf="categoryStatus$ | async as categoryStatus; else spinner">
  <app-welcome-dialog></app-welcome-dialog>

  <app-page-container [navTemplate]="nav" [contentTemplate]="content">
  </app-page-container>

  <ng-template #nav>
    <app-top-nav>
      <button [appButton]="'ghost'" class="btn-icon" (click)="navigateToSettings()">
        <fa-icon [icon]="faGear" size="xl"></fa-icon>
      </button>
      <app-diamond-counter [data]="user$ | async"></app-diamond-counter>
    </app-top-nav>
  </ng-template>

  <ng-template #content>
    <app-main-menu [categoryStatus]="categoryStatus"></app-main-menu>
  </ng-template>
</ng-container>

<ng-template #spinner>
  <app-page-spinner></app-page-spinner>
</ng-template>
