<ng-template #nav>
  <app-top-nav>
    <button [appButton]="'ghost'" class="btn-icon" (click)="navigateToSettings()">
      <fa-icon [icon]="faGear" size="xl"></fa-icon>
    </button>

    <div class="gap"></div>
    <app-diamond-counter [data]="user$ | async"></app-diamond-counter>
  </app-top-nav>
</ng-template>

<ng-container *ngIf="categoryStatus$ | async as categoryStatus">
  <app-nav-container [navTemplate]="nav">
    <app-main-menu [categoryStatus]="categoryStatus"
    ></app-main-menu>
  </app-nav-container>
</ng-container>

