<div class="word-div">
  <h2 class="word-text" (click)="speak()">
    <app-word-gap
      *ngIf="word.adjPos === 0"
      [showAnswer]="showAnswer"
      [answer]="word.adj"
    ></app-word-gap>
    <span (click)="speak(word.nounPL)"> {{ word.nounPL }} </span>
    <app-word-gap
      *ngIf="word.adjPos === 1"
      [showAnswer]="showAnswer"
      [answer]="word.adj"
    ></app-word-gap>

    <app-gender-dot [word]="word"></app-gender-dot>
  </h2>
</div>

<div class="translation">
  <h4>{{ word.adjDE }}</h4>
  <app-show-answer-animation
    [showAnswer]="showAnswer"
    [answerCorrect]="lastAnswerCorrect"
    [showHistory]="showHistory"
  ></app-show-answer-animation>
</div>
