:host {
  display: flex;
  flex-grow: 1;

  .current-word-container {
    align-self: center;
    text-align: center;
    width: 80%;

    .word-div {
      position: relative;
      display: inline-block;

      .word-text {
        position: relative;
        margin-bottom: 4px;
      }
    }

    .answer {
      opacity: 0;
      color: var(--primary-color);
      height: 65px;

      .answer-icon {
        height: 30px;
        ::ng-deep {
          .ng-fa-icon {
            color: var(--action-success-color);
          }
          svg {
            transform: translateY(34px);
            @media (max-height: 500px) {
              transform: translateY(16px);
            }
          }
        }
      }

      &.show {
        opacity: 1;

        .answer-icon {
          ::ng-deep {
            svg {
              animation: up 0.8s forwards ease-out;
              @media (max-height: 500px) {
                animation: upMobileHorizontal 0.8s forwards ease-out;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes up {
  100% {
    transform: translateY(16px);
  }
}

@keyframes upMobileHorizontal {
  100% {
    transform: translateY(6px);
  }
}
