<ng-container *ngIf="challengeState$ | async as state">
  <app-show-answer-overlay *ngIf="state.showAnswer" (click)="nextWord()">
  </app-show-answer-overlay>

  <app-v-b-middle-section
    class="middle-container"
    [word]="state.currentWord"
    [showAnswer]="state.showAnswer"
    [lastAnswerCorrect]="state.lastAnswerCorrect">
  </app-v-b-middle-section>

  <app-v-b-bottom-section
    class="bottom-container"
    [currentWord]="state.currentWord"
    [roundWords]="state.currentWordAnswers"
    (action)="handleAnswer($event)">
  </app-v-b-bottom-section>
</ng-container>
