:host {
  display: flex;
  min-height: 20px;
  height: 100%;
  width: 100%;

  .brick-line {
    position: relative;
    display: flex;
    color: var(--basic-background-solid-2);
    width: 100%;
    height: calc(12px + (var(--border-width) * 2));
    margin: 0 var(--style-bricks-margin);
    border-radius: calc(3 * (var(--border-width)));
    border: var(--border-width) solid var(--font-secondary-color);

    .brick {
      height: 100%;
      flex: 1;
    }

    .brick-line-frame {
      position: absolute;
      height: calc(100% + calc(2 * var(--border-width)));
      width: calc(100% + calc(2 * var(--border-width)));
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      border: var(--border-width) solid var(--font-secondary-color);
      border-radius: calc(3 * (var(--border-width)));
    }
  }
}
