<app-page-container [navTemplate]="nav" [contentTemplate]="content"> </app-page-container>

<ng-template #nav>
  <app-top-nav>
    <button [appButton]="'ghost'" class="btn-icon" (click)="handleCloseSettings()">
      <fa-icon [icon]="faChevronLeft" size="xl"></fa-icon>
    </button>
    <h3 class="inline">{{ "settings.settings" | translate }}</h3>
  </app-top-nav>
</ng-template>

<ng-template #content>
  <div>
    <app-dark-mode-settings></app-dark-mode-settings>
    <div class="settings-content">
      <button [appButton]="'primary'" class="logout-button" (click)="logout()">
        {{ "auth.logout" | translate }}
      </button>
    </div>
  </div>
</ng-template>
