:host {
  display: flex;
  position: relative;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid var(--bg-basic-color-3);
  align-items: center;

  .title {
    flex-grow: 1;
  }

  .switch {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    ::ng-deep * {
      float: right;
    }
  }

  div {
    //margin: 0;
    //height: 100%;
    //width: 100%;
    //text-align: left;
    //line-height: 64px;
    //font-size: 2rem;
    //&:hover {
    //  //background-color: var(--bg-basic-color-2);
    //}
  }
}
