:host {
  display: flex;
  position: relative;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid var(--bg-basic-color-3);
  align-items: center;
  background-color: var(--body-backgroung-color);

  .title {
    flex-grow: 1;
  }

  .switch {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    ::ng-deep * {
      float: right;
    }
  }
}
