:host {
  display: flex;
  position: relative;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid var(--theme-background-solid-3);
  align-items: center;
  background-color: var(--basic-background-transparent-2);

  .title {
    flex-grow: 1;
  }

  .switch {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    ::ng-deep * {
      float: right;
    }
  }
}
