<app-challenge-section-top
    [topContent]="topContent"
    [bottomContent]="bottomContent"
    [showAnswer]="showAnswer"
    [lastAnswerCorrect]="lastAnswerCorrect"
    [showHistory]="showHistory"
></app-challenge-section-top>


<ng-template #topContent>
  <h2 class="word-text" (click)="speak()">
    <span *ngIf="showWord.wordFirstPart"
          class="first"
        (click)="speak(showWord.wordFirstPart)">
      {{ showWord.wordFirstPart }}
    </span>
    <app-word-gap
        [class.has-before]="showWord.wordFirstPart"
        [class.has-after]="showWord.wordSecondPart"
        [showAnswer]="showAnswer"
        [answer]="showWord.gapWord"
    ></app-word-gap>
    <span *ngIf="showWord.wordSecondPart"
          class="last"
        (click)="speak(showWord.wordSecondPart)">
      {{ showWord.wordSecondPart }}
    </span>
  </h2>
</ng-template>


<ng-template #bottomContent>
  <div class="translation">
    <h4>
      <span>{{ showWord.wordDe }}</span>
    </h4>
  </div>
</ng-template>
