:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: lightcyan;

  .word-div {
    width: 100%;
    background-color: lightgoldenrodyellow;
    position: relative;
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;
    justify-content: center;
    align-items: end;
    text-align: center;

    .word-text {
      position: relative;
      margin-bottom: 8px;
      background-color: red;
      height: min-content;
    }
  }

  .translation {
    text-align: center;
    width: 100%;
    margin-top: 8px;
  }

  .answer {
    opacity: 0;

    .answer-icon {
      height: 30px;
      ::ng-deep {
        .ng-fa-icon {
          color: var(--action-success-color);
        }
        svg {
          transform: translateY(34px);
          @media (max-height: 500px) {
            transform: translateY(16px);
          }
        }
      }
    }

    &.show {
      opacity: 1;

      .answer-icon {
        ::ng-deep {
          svg {
            animation: up 0.8s forwards ease-out;
            @media (max-height: 500px) {
              animation: upMobileHorizontal 0.8s forwards ease-out;
            }
          }
        }
      }
    }
  }
}

@keyframes up {
  100% {
    transform: translateY(16px);
  }
}

@keyframes upMobileHorizontal {
  100% {
    transform: translateY(6px);
  }
}
