:host {
  .gap {
    vertical-align: top;
  }

  &.has-before:not(.show-answer) {
    margin-left: 8px;
    margin-right: 2px;
  }

  &.has-before.show-answer {
    margin-left: 0;
    margin-right: 2px;
  }

  &.has-after:not(.show-answer) {
    margin-left: 2px;
    margin-right: 8px;
  }

  &.has-after.show-answer {
    margin-left: 2px;
    margin-right: 0;
  }

  &.has-before.has-after:not(.show-answer) {
    margin-left: 8px;
    margin-right: 8px;
  }

  &.has-before.has-after.show-answer {
    margin-left: 0;
    margin-right: 0;
  }
}
