:host {
  height: 6.8rem;
  .nav {
    display: flex;
    padding: 0 10px;
    position: relative;
    max-width: 600px;
    margin: auto;

    ::ng-deep {
      h3 {
        color: black;
        margin-left: 8px;
        transform: translateY(2px);
      }

      button {
        //background-color: cornflowerblue;
        display: inline-block !important;
        width: 48px;
        height: 48px;
        padding: 0;

        &:hover {
          background-color: unset !important;
        }

        * {
          color: black;
        }
      }

      .gap {
        flex-grow: 1;
      }
    }
  }
}
