:host {
  display: flex;
  margin: 10px;
  background-color: var(--body-backgroung-color);
  border-radius: 10px;

  &.is-active {
    background-color: var(--backgroung-teriary-color);
  }

  .diamond-container {
     padding: 20px 16px;
  }

  .user-data-container {
    .name {
      margin-top: 12px;
    }
    h5 {
      margin: 0;
    }
  }
}
