<app-challenge-wrapper
  *ngIf="challengeState$ | async as state"
  [challengeState]="state"
  [showHistory]="showHistory"
  [history]="history"
  [historyCurrentWordIndex]="historyCurrentWordIndex"
  [topSectionTemplate]="topTemplate"
  [bottomSectionTemplate]="bottomTemplate"
  (nextWord)="nextWord()"
  (backInHistory)="backInHistory()"
  (forwardInHistory)="forwardInHistory()"
></app-challenge-wrapper>

<!-- template -->
<ng-template #topTemplate let-state="state">
  <app-v-c-middle-section
    [variant]="variant"
    [gapNumber]="state.gapNumber"
    [showHistory]="showHistory"
    [word]="showHistory ? historyCurrentWord : state.currentWord"
    [showAnswer]="showHistory || state.showAnswer"
    [lastAnswerCorrect]="showHistory ? historyCurrentWord.answerCorrect : state.lastAnswerCorrect"
  >
  </app-v-c-middle-section>
</ng-template>

<!-- template -->
<ng-template #bottomTemplate let-state="state">
  <app-challenge-section-bottom
    [class.hide]="showHistory"
    [answerWords]="generateAnswerWords(state.currentWordAnswers, state.gapNumber)"
    (action)="handleAnswer($event)"
  ></app-challenge-section-bottom>
</ng-template>
