:host {
  border-radius: 10px;
  position: relative;

  .middle-container {
    justify-content: center;
    position: relative;
    flex-grow: 1;
  }

  app-v-c-bottom-section {
    display: flex;
    flex-basis: 190px;
    padding: 20px 20px 0 20px;
    min-height: 150px;
  }
}
