<ng-container *ngIf="challengeState$ | async as state">

  <app-challenge-finished-overlay *ngIf="state.challengeFinished" [result]="state.correctAnswersRatio"></app-challenge-finished-overlay>

  <app-show-answer-overlay *ngIf="state.showAnswer" (click)="nextWord()"></app-show-answer-overlay>

  <div class="middle-container">
    <app-history-back-button *ngIf="history.length && historyCurrentWordIndex !== 0"
                             (click)="backInHistory()">

    </app-history-back-button>

    <app-history-forward-button *ngIf="showHistory"
                                (click)="forwardInHistory()">
    </app-history-forward-button>

    <app-v-a-middle-section
            [showHistory]="showHistory"
            [word]="showHistory ? historyCurrentWord : state.currentWord"
            [showAnswer]="showHistory ? true : state.showAnswer"
            [lastAnswerCorrect]="showHistory ? historyCurrentWord.answerCorrect : state.lastAnswerCorrect">
    </app-v-a-middle-section>
  </div>

  <app-v-a-bottom-section
    [class.hide]="showHistory"
    [roundWords]="state.currentWordAnswers"
    (action)="handleAnswer($event)">
  </app-v-a-bottom-section>

  <app-challenge-progress [currentStep]="showHistory ? historyCurrentWordIndex + 1 : state.currentSequenceStep + 1"></app-challenge-progress>
</ng-container>
