:host {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  position: relative;

  .middle-container {
    justify-content: center;
    position: relative;
    flex-grow: 1;
  }

  app-v-a-bottom-section {
    display: flex;
    flex-basis: 190px;
    padding: 20px 20px 0 20px;
    min-height: 150px;
  }
}
