:host {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;

  .middle-container {
    justify-content: center;
    flex-grow: 1;
  }

  .bottom-container {
    flex-basis: 200px;
    display: flex;
    padding: 0 20px;
    min-height: 150px;

    button {
      margin: 0;
    }
  }

  app-history-back-button {
    position: fixed;
    top: 40%;
  }

  app-history-forward-button {
    position: fixed;
    top: 40%;
    right: 0;
  }

  app-v-a-bottom-section.hide {
    opacity: 0;
  }
}

