@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import "app/styles";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-wrap: anywhere;
}

body {
  padding: 0;
  margin: 0;
  overflow: auto;
  min-width: 100%;
  height: 100vh; /* fallback for Js load */
  height: var(--app-height);
}

