@import "app/styles";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-wrap: anywhere;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  padding: 0;
  margin: 0;
  overflow: auto;
  min-width: 100%;
  height: 100vh; /* fallback for Js load */
}


body,
.body {
  height: var(--app-height);
  background-color: var(--body-backgroung-color);
  color: var(--font-basic-color);
}

.hide {
  visibility: hidden;
}
