:host {
  height: 100%;
  width: 100%;

  canvas {
    height: 100%;
    width: 100%;
  }

  .text-container {
    flex-grow: 1;
  }

  app-achievement-ribbon {
    flex-basis: 64px;
    flex-shrink: 0;
  }
}

@keyframes show {
  80% {
    opacity: 1;
  }
  100% {
    top: 25%;
  }
}
