<div class="category-label-container" (click)="handleClick(category.category_id)">
  <div class="category-label">
    <fa-icon [icon]="getCategoryIcon()" [size]="'xl'" class="category-icon"></fa-icon>
    <span>{{ "categories." + category.category_id | translate }}</span>
    <fa-icon
      *ngIf="canMinimize"
      [icon]="isExpanded ? faChevronUp : faChevronDown"
      [size]="'lg'"
      class="category-chevron-icon"
    ></fa-icon>
  </div>

  <button
    class="minimize-button"
    *ngIf="isExpanded && canMinimize"
    (click)="addToMinifiedCategories($event, category.category_id)"
  >
    <fa-icon [icon]="faMinus" class="category-chevron-icon"></fa-icon>
  </button>
</div>

<div class="level-container">
  <ng-container *ngIf="isExpanded || !canMinimize; else preview">
    <ng-container *ngFor="let level of category.levels">
      <app-level-menu
        *ngIf="level.enabled"
        [level]="level"
        [category_id]="category.category_id"
      ></app-level-menu>
    </ng-container>
  </ng-container>

  <ng-template #preview>
    <app-level-menu-preview [levels]="category.levels"></app-level-menu-preview>
  </ng-template>
</div>
