:host {
  display: block;
  padding: 10px;

  @media(min-width: 500px) {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

.category-label {
  padding: 10px;
}

.category-chevron-icon {
  display: inline-block;
  padding: 0 10px;
  transform: translateY(-2px);
}
