:host {
  display: block;
  color: var(--font-secondary-color);
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  &.expanded {
    background-color: var(--backgroung-secondary-color);
  }

  span {
    color: var(--font-secondary-color);
  }
}

.category-label {
  padding: 10px;
}

.category-chevron-icon,
.category-icon {
  display: inline-block;
  padding: 0 10px;
  transform: translateY(-2px);
}
