:host {
  display: block;
  position: relative;

  .head {
    padding: 10px;
    background-color: yellow;
  }

  > .content {
    background-color: lightgoldenrodyellow;
    height: 0;
    transition: height .2s ease-out;
    .content-inner {
      padding: 10px;
      opacity: 0;
    }
  }

  &.is-open {
    .head span {
      font-weight: bold;
    }
    > .content {
      height: 150px;
      transition: height .2s ease-out;
      .content-inner {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }

  .absolute-content {
    position: absolute;
    opacity: 0;
  }
}