:host {
  display: block;
  position: relative;
  border-top: var(--border-width) solid var(--font-basic-color);

  &:last-child {
    border-bottom: var(--border-width) solid var(--font-basic-color);
  }

  .head {
    background-color: var(--backgroung-teriary-color);
    padding: 16px;
    span {
      font-weight: 500;
    }
  }

  > .content {
    height: 0;
    opacity: 0;
    transition: height .2s ease-out;
  }

  &.is-open {
    .head {
      span {
        font-weight: 600;
      }
    }
    > .content {
      transition: height .2s, opacity 1s ease-out;
      opacity: 1;
    }
  }

  .absolute-content {
    position: absolute;
    opacity: 0;
  }
}
